html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {
  border-spacing: 0;
}

th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}

td {
  padding-left: 20px;
}

td:last-child {
  border-right: 0;
}

th {
  background-color: #17252a;
  color: white;
  font-weight: bold;
}
