.container {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero {
  position: relative;
  color: #eae7dc;
  width: 100vw;
  min-height: 50vh;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.bannerImg {
  z-index: -1;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.title {
  padding: 1em;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.totalCard {
  margin: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContent {
  width: 15vw;
  border: 1px solid gold;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
}

.tableContainer {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #feffffff;
  border-radius: 5px;
  overflow: hidden;
}

.pageDiv {
  padding: 1em;
  width: 100%;
}

.pageBtn {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageIndicator {
  text-align: center;
}

@media (max-width: 600px) {
  .title {
    font-size: 2em;
  }

  .cardContent {
    width: 30vw;
  }
}
